*{
    font-family: "Times New Roman",serif;
    letter-spacing: normal;
}
body{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-weight: normal;
}
.hdr_logo {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0,0,0,0);
  background-image: url("http://cache1.artprintimages.com/images/jump_pages/rebrand/header/headersprite_switchart.jpg");
  background-origin: padding-box;
  background-position: -223px -713px!important;
  background-repeat: repeat;
  background-size: auto auto;
  display: inline;
  float: left;
  height: 64px;
  width: 61px;
}
.hdr_top {
  float: none!important;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 1008px;
  text-align: left;
}
.hdr_top_nav {
  display: inline;
  float: right;
  padding-top: 16px;
  width: 500px;
}
.hdr_top_nav li {
  display: inline;
  float: right;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  list-style-type: none;
  padding: 0;
  margin: 0 19px 0 0;
  cursor: pointer;
  background: 0;
}
.hdr_search {
  display: inline;
  float: left;
  overflow: hidden;
  padding-top: 13px;
  margin-left: 24px;
  width: 404px;
}
.hdr_search_form {
  float: left;
  width: 358px;
  width: 359px\9;
  border: 1px solid #c0c0c0;
  border-right: 0;
  margin: 0;
  padding: 0 3px;
  padding: 9px 0 0 5px\9;
  display: inline-block;
  color: #9A9A9B;
  font-size: 14px;
  height: 34px;
  height: 25px\9;
}
.hdr_search_btn {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0,0,0,0);
  background-image: url("http://cache1.artprintimages.com/images/jump_pages/rebrand/header/headersprite_switchart.jpg");
  background-origin: padding-box;
  background-position: -533px -1272px!important;
  background-repeat: repeat;
  background-size: auto auto;
  border: 0 none;
  display: inline;
  height: 36px;
  margin: 0;
  padding: 0;
}
#hdr-bottom {
  width: 100%;
  height: 40px;
  background-color: #f3f3f4!important;
  position: relative;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.top_nav_cart .nav_icon {
  width: 30px;
  background-position: -3px -186px!important;
}
.top_nav_user .nav_icon {
  width: 24px;
  background-position: -6px -150px!important;
}
.top_nav_saved .nav_icon {
  width: 30px;
  background-position: -7px -116px!important;
}
.nav_icon, .nav_icon:hover {
  background-image: url("http://cache1.artprintimages.com/images/jump_pages/rebrand/header/2015/icons/iconSprite.png")!important;
  display: inline-block;
  width: 20px;
  height: 24px;
  vertical-align: middle;
}
.top_nav_chat .nav_icon {
  width: 30px;
  background-position: -6px -78px!important;
}
.top_nav_help .nav_icon {
  background-position: -7px -42px;
}
.top_nav_log {
  padding: 5px 0 0;
  width: auto;
}
.top_nav_div, .top_nav_log {
  padding-top: 4px!important;
}
.top_nav_cart, .top_nav_user, .top_nav_div {
  margin: 0!important;
}
#hdr-artbarv2 {
  display: block;
  padding: 0;
  text-align: center;
}
#hdr-artbarv2 {
  margin: 0 auto!important;
  width: 1008px;
}
#hdr-artbarv2 li {
  float: left;
  list-style: none outside none;
  margin: 0;
}
.hdr-artnav {
  color: #373737;
  font: 13px/100% Arial,Helvetica,sans-serif;
  padding: 14px 0;
  text-align: left;
  text-decoration: none!important;
}

.hdr-artnavie span {
  cursor: pointer;
}
.hdr-artnavie a:link, .hdr-artnavie span {
  color: #373737!important;
}
#hdr-artbarv2 a:visited {
  color: #4d4d4e;
  display: block;
  overflow: visible!important;
  padding: 0;
  text-decoration: none;
}
#hdr-artbarv2 a:link {
  color: #4d4d4e;
  display: block;
  overflow: visible!important;
  padding: 0;
  text-decoration: none;
}

.container{
    margin: 12px auto 0!important;
  max-width: 1008px;
}
.prd-artist,.prd-artist a,.prd-type,.prd-itemnum{
  color:#ed944b;
  margin-right:5px;
}
.prd-artist a{
  text-decoration: none;
}
.titleData{
  display: inline-flex;
}
.prd-link-divider{
  margin-right: 5px;
}
.prd-title h1{
  margin:0;
}
.heroModule{
  /*width: 65%;*/
}
.sideNav{
  width: 20%;
  height: 50%;
  float: left;
}
.visualizer{
  width: 80%;
  float: left;
}
.heroModule div{
  display: inline-block;
}
.heroThumb{
  /*border:1px solid black; */
}
.heroThumb img{
  width: 60px;
}
.stickyBottomBar{
    position: fixed;
  bottom: 0;
  height: 75px;
  width: 1008px;
  
  background: white;
  box-shadow: -9px -9px 7px -10px rgba(0,0,0,0.77);

}
.stickyBottomBar div{
  float:left; 

  margin: 5px 2px;
 
}
.chat{
  width: 12%;
 
}
.info{
  width: 28%;
  
}
.priceComponent{
  height: 40px;
  
}
.prices{
    font-size: 18px; 
    font-weight: bold;
}
.prices span{
  margin:5px;
}
.currency{
  color: red
}
.strike{
  color: #636368;
  text-decoration: line-through;
}
.addTocart_SaveToGal_Component{
  height: 50px;
}
.addToCart{
  width: 64%;
  margin:5px 10px 5px 0px;
  float: left;
  text-align: center;
  border:1px solid #d33f3f;  
}
.addToGal{
  text-align: center;
  width: 15%;
  margin-top:6px;
  float: left;
  border:1px solid #9A9A9B;
  height: 44px;
}
.fa-heart-o{
  position: relative;
  top: 5px;
  color: #ed944b;
}
.btn {
  background: #ed944b;
  background-image: -webkit-linear-gradient(top, #ed944b, #d17327);
  background-image: -moz-linear-gradient(top, #ed944b, #d17327);
  background-image: -ms-linear-gradient(top, #ed944b, #d17327);
  background-image: -o-linear-gradient(top, #ed944b, #d17327);
  background-image: linear-gradient(to bottom, #ed944b, #d17327);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
    position: relative;
  
}

.btn:hover {
  background: #d17327;
  background-image: -webkit-linear-gradient(top, #d17327, #d17327);
  background-image: -moz-linear-gradient(top, #d17327, #d17327);
  background-image: -ms-linear-gradient(top, #d17327, #d17327);
  background-image: -o-linear-gradient(top, #d17327, #d17327);
  background-image: linear-gradient(to bottom, #d17327, #d17327);
  text-decoration: none;
}
.addToCart a{
  color: white;
  text-decoration: none;
}
.rightComponent{
  /*width: 35%;
  float: left;*/
}
.framingOptionsComponent{
  height: 150px;
}
.framingOptionsTitle{
    font-size: 20px;
  font-weight: normal;
  color:#636368;
  line-height: 14px;
}
.framingOptionsHelpText{
  margin-top: 2px;
  font-size: 14px;
}
.fa-info{
  font-size: 5px;
}
.orangeText{
 color: #ed944b;
}
.unframed, .recomended,.customFrame{
  width: 30%;
  border:1px solid #e5e5ea;
  height: 100px;
  float: left;
  margin-right: 5px;
  color: #636368;
  text-align: center;
}

.recomended span{
  position: relative;
  top: -10px;
}
.customFrame span{
position: relative;
  top: -12px;
}
.staticTextComponent{
  margin:5px;
  color: #636368;
  font-size: 14px;
  margin-left: 15px;
}
.staticTextComponent ul{
    list-style-type: disc;
}
.helpline_Chat_Component{
  margin: 20px 10px;
  clear: both;
  border-top: 1px solid #cfcfd6;
  padding-top: 10px;
}
.imgChat{
  width: 10%;
  float: left;
}
.helpline{
  width: 57%;
  color: #636368;
  font-size: 14px;
  float: left;
}
.chatNow{
  width: 25%;
  float: left;
}
.skinny-banner-container, .promo-container{
  display: block;
}
.skinny-banner-container{
    margin: 4px 0 0;
    text-transform: uppercase;
}
.promo-container{
    width: 1008px;
  margin: 0 auto;
  height: 40px;
  overflow: hidden;
}
.banner-text{
    color: #F4444B;
  float: left;
  margin: -3px 0 0 0;
  font-family: Arial;
  font-weight: bolder;
  font-size: 30px;
}
.banner-details {
  background-color: #F4444B;
  color: #FFF;
  cursor: text;
  float: left;
  font-family: Helvetica,Arial,sans-serif!important;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 3px 8px 0 8px;
  padding: -6px 8px 3px 8px;
  text-align: center;
  min-width: 89px;
}

.banner-exp-date1 {
  color: #F4444B;
  font: 14px 'BebasNeueRegular',Arial,sans-serif;
  text-align: left;
  padding: 0px 8px 0;
}
.banner-terms-link {
  color: #F4444B;
  cursor: pointer;
  float: left;
  font: 14px 'BebasNeueRegular',Arial,sans-serif;
  text-align: left;
  padding: 2px 0 0;
  line-height: 5px;
  text-decoration: underline;
}
 @media only screen and (min-width: 568px) and (max-width: 666px), only screen and (max-width: 374px), only screen and (min-width: 375px) and (max-width: 567px), only screen and (min-width: 667px) and (max-width: 765px), only screen and (min-width: 768px) and (max-width: 1023px) {
   .skinny-banner-container {
    margin: 0px auto;
    position: relative;
  }
   .skinny-banner-container .promo-container {
    width: 100%;
    display: table !important;
    height: 40px;
    margin-top: 10px;
    background-color: #f5f5f5;
  }
   .skinny-banner-container .banner-text {
    float: none;
    font-size: 21px;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    line-height: 0.9em;
    padding-top: 4px;
    text-align: center;
  }
   .skinny-banner-container .banner-details {
    display: table-cell;
    vertical-align: middle;
    background-color: #F4444B;
    color: #FFF;
    cursor: text;
    float: none;
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    /* padding: 6px 8px 3px 8px; */
    text-align: center;
    min-width: 89px;
    box-sizing: border-box;
    padding: 0;
    padding-top: 4px;
  }
   .skinny-banner-container .banner-exp-date {
    display: table-cell;
    vertical-align: top;
    padding: 2px 0 0 4px;
    line-height: 0.9em;
    width: 65px;
  }
   .skinny-banner-container .banner-terms-link {
    display: table-cell;
    vertical-align: bottom;
    overflow: visible;
    width: auto;
    padding: 0px;
    line-height: 1.2em;
    float: none;
    text-indent: -65px;
  }
}
@media only screen and (max-width: 374px) {
   .skinny-banner-container {
    width: 300px;
  }
   .skinny-banner-container .banner-text {
    font-size: 14px;
  }
   .skinny-banner-container #banner-terms {
    width: 250px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 567px) {
   .skinny-banner-container {
    width: 355px;
  }
   .skinny-banner-container .banner-text {
    font-size: 14px;
  }
   .skinny-banner-container #banner-terms {
    width: 250px;
  }
}
@media only screen and (min-width: 568px) and (max-width: 666px) {
   .skinny-banner-container {
    width: 548px;
  }
}
@media only screen and (min-width: 667px) and (max-width: 765px) {
   .skinny-banner-container {
    width: 647px;
  }
   .skinny-banner-container .banner-text {
    font-size: 14px;
  }
   .skinny-banner-container #banner-terms {
    width: 250px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
   .skinny-banner-container {
    width: 748px;
  }
   .skinny-banner-container .banner-text {
    font-size: 14px;
  }
   .skinny-banner-container #banner-terms {
    width: 250px;
  }
}

#hdr-new-container{
    margin: 12px auto 0!important;
  max-width: 1010px;0}